.main_container {
    height: 80vh;
    width: 80%;
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    border:3px solid rgb(225, 225, 225);
  }
  #main-heading {
    color: rgb(1, 58, 65);
  }
  img {
    height: 100%;
    width: 50%;
  }
  #form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #btn {
    margin: 1rem;
  }
  
  .heading_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }
  .select_room {
    margin: 1rem;
    display: flex;
    color: rgb(52, 95, 85);
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #choose_room {
    margin: 1rem;
  }
  